.exportar{
    display: flex;
    width: 150px;
    padding: 10px 15px;
    color: #fff;
    background: #29914b;
    border-radius: 5px;
    border: none;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
}

.exportar:hover{
    background: #216c39;
}

.bxs-download{
    font-size: 20px;
    margin-right: 3px;
}