.contenedor-info{
    position: absolute;
    left: 20%;
    width: 80%;
    padding: 10px 20px;
}

.titulo{
    margin-bottom: 20px;
    color: #1679e2;
}

.opciones{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.crear-cliente{
    display: flex;
    width: 200px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background: #1679e2;
    margin-right: 30px ;
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    justify-content: center;

}

.activar-cliente{
    display: flex;
    width: 180px; 
    padding: 10px 15px; 
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: #1679e2;
    border: 1px solid #1679e2;
}

.crear-cliente:hover{
    background: #0056b3;
}

.activar-cliente:hover{
    color: #0056b3;
    border: 1px solid #0056b3;
}

.bxs-user-plus,
.bxs-user-check{
    font-size: 25px;
    margin-right: 3px;
}

