.barra-lateral {
  width: 20%;
  min-height: 100vh;
  background: #f5f8f8;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 1px 3px 2px #ccc;
}

.barra-lateral .nombre-pagina {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0 20px 0;
}

.barra-lateral .nombre-pagina i {
  font-size: 40px;
  color: #000;
}

.barra-lateral .nombre-pagina span {
  font-size: 25px;
  color: #000;
  font-weight: bold;
}

/**navegacion**/

.barra-lateral .navegacion li {
  list-style: none;
  margin-bottom: 20px;
}

.barra-lateral .enlaces {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.barra-lateral  i {
  font-size: 25px;
  cursor: pointer;
  color: #000;
  margin: 0 7px 0 15px;
}


.barra-lateral .navegacion li:hover .enlaces,
.barra-lateral .navegacion li:hover i{
  color: #b81ae8;
}

.salir{
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc;
}
.salir i{
  color: #000;
}

.salir:hover i,
.salir:hover span{
  color: #b81ae8;
}


