.contenedor-envio{
    position: absolute;
    left: 18%;
    width: 82%;
    padding: 10px 20px;
}

.contenedor-envio .bxs-box{
    font-size: 22px;
    margin-right: 3px;
}

.crear-envio{
    display: flex;
    width: 200px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background: #1679e2;
    margin-right: 30px;
    border-radius: 5px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.crear-envio:hover{
    background: #0056b3;
}