#header{
    display: grid;
    grid-column: 1 / -1;
}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:10px 20px;
    width: 84%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    transition: width 0.5s ease;
    color: #555;
    background: #105aa8;
}

.bx-exit{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


